# Git files
.git
.gitignore
.github

# Pycache and python outputs
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Backup files
app_backup.py
inspect_docx.py
converter.py.bak

# AppData or local system files
.DS_Store
Thumbs.db
